@model WebNote.Entity.User

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Register</h2>

            @using (Html.BeginForm("Register", "Account"))
            {
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(m => m.Username, new { @class = "font-weight-bold" })
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "font-weight-bold" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "font-weight-bold" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "font-weight-bold" })
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, new { @class = "font-weight-bold" })
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, new { @class = "font-weight-bold" })
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Register</button>
                    <a href="@Url.Action("Login", "Account")" class="btn btn-link">Back to Login</a>
                </div>
            }
        </div>
    </div>
</div>
